paddlepaddle-gpu
paddlenlp
paddleocr>=2.0.1
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-python
opencv-contrib-python
opencv-contrib-python-headless
cython
lxml
premailer
openpyxl
attrdict